# **Chapter 8.**

# Pandas notebook tutorial (Day 11)

This tutorial explains xxx, xxx , xxx

# How to install libraries.

#pip install pandas

#pip install numpy

# Import libraries

#import pandas as pd
#import numpy as np

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Object creation
s=pd.Series([1,2,3,4,5,6,7,8,9,87,7,7,6,5,43,3,2])
s

In [ ]:
#How to creat empty cell in Series?
s1=pd.Series([1,2,3,np.nan,5,2,7])
s1

In [ ]:
#How to creat Series of date?
s2=pd.date_range("20220707", periods=7)
s2

In [ ]:
dates=pd.date_range("20220707", periods=20)
df=pd.DataFrame(np.random.randn(20,4),index=dates, columns=list("ABCD"))
df

In [ ]:
#How to create same kind (as above) of dataset by dictionaries?
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl", "women", "test", "train"]),
        "F": "female",
    }
)


df2

In [ ]:
df2.dtypes

In [ ]:
#How to view dataset?
df.head(5)

In [ ]:
#How to view dataset tail?
df.tail(5)

In [ ]:
#How to index of dataset? Index means row headings
df.index

In [ ]:
#How to index of dataset? Index means row headings
df2.index

In [ ]:
#How to convert dataframe into numpy?
df.to_numpy()

In [ ]:
#How to check quick statistics of data?
df.describe()

In [ ]:
#How to transpose data?
df.T

In [ ]:
#Sorting by ascending or descending order.
df.sort_index(axis=1, ascending=False)

In [ ]:
#Sorting by ascending or descending order.
df.sort_index(axis=1, ascending=True)

In [ ]:
#Sorting by Values or column
df.sort_values(by="B", ascending= True)

In [ ]:
# Selecting a single column.

df["A"]

In [ ]:
df["B"]

In [59]:
#Selection of data by row wise:
df[0:2]

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750

In [60]:
df[0:3]

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055

In [61]:
df[0:4]

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-10 -1.114591  1.395949  1.014473 -0.206770

In [62]:
df[0:10]

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-10 -1.114591  1.395949  1.014473 -0.206770
2022-07-11  0.457318  1.126077 -1.387801  0.619877
2022-07-12  1.207212  1.457119  0.354956 -1.562524
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790
2022-07-14  0.910667  1.300091  1.005717 -1.566945
2022-07-15  0.675473  0.504101  2.949969 -0.589228
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468

In [63]:
df[1:3]

                   A         B         C         D
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055

In [64]:
#Selection by label¶e.g., we can get data of specif date.
df.loc[dates[0]]

A   -1.704633
B   -0.158214
C   -0.055683
D   -0.514507
Name: 2022-07-07 00:00:00, dtype: float64

In [65]:
df.loc[dates[15]]

A    0.132906
B    0.285758
C    1.339146
D   -0.656824
Name: 2022-07-22 00:00:00, dtype: float64

In [66]:
#Selecting on a multi-axis by label:
df.loc[:, ["A", "B"]]

                   A         B
2022-07-07 -1.704633 -0.158214
2022-07-08  0.386612  0.200570
2022-07-09  2.137770  0.397851
2022-07-10 -1.114591  1.395949
2022-07-11  0.457318  1.126077
2022-07-12  1.207212  1.457119
2022-07-13 -0.114695 -0.312303
2022-07-14  0.910667  1.300091
2022-07-15  0.675473  0.504101
2022-07-16 -0.310785  1.162149
2022-07-17  0.773905 -0.130535
2022-07-18 -0.825457 -1.746006
2022-07-19 -0.840293  0.063689
2022-07-20  0.261290  1.680596
2022-07-21  0.665780 -1.539801
2022-07-22  0.132906  0.285758
2022-07-23  0.353193 -2.348718
2022-07-24  0.328703  0.335372
2022-07-25 -1.933977  0.346613
2022-07-26 -0.045767 -0.357068

In [67]:
# selcting by date wise or rowwise and column wise.
df.loc["20220707":"20220708", ["A", "B"]]

                   A         B
2022-07-07 -1.704633 -0.158214
2022-07-08  0.386612  0.200570

In [69]:
df.loc["20220710", ["A", "B","C"]]

A   -1.114591
B    1.395949
C    1.014473
Name: 2022-07-10 00:00:00, dtype: float64

In [72]:
#For getting a scalar value:
df.loc[dates[2], "A"]

2.137769751405559

In [73]:
df.at[dates[15], "A"]

0.13290573557959542

In [74]:
df.iloc[3]

A   -1.114591
B    1.395949
C    1.014473
D   -0.206770
Name: 2022-07-10 00:00:00, dtype: float64

In [76]:
#data selecting by position
df.iloc[3:10]

                   A         B         C         D
2022-07-10 -1.114591  1.395949  1.014473 -0.206770
2022-07-11  0.457318  1.126077 -1.387801  0.619877
2022-07-12  1.207212  1.457119  0.354956 -1.562524
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790
2022-07-14  0.910667  1.300091  1.005717 -1.566945
2022-07-15  0.675473  0.504101  2.949969 -0.589228
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468

In [77]:
df.iloc[3:5, 0:2]

                   A         B
2022-07-10 -1.114591  1.395949
2022-07-11  0.457318  1.126077

In [78]:
# cut columns
df.iloc[:, 1:3]

                   B         C
2022-07-07 -0.158214 -0.055683
2022-07-08  0.200570  1.449984
2022-07-09  0.397851  0.160753
2022-07-10  1.395949  1.014473
2022-07-11  1.126077 -1.387801
2022-07-12  1.457119  0.354956
2022-07-13 -0.312303  1.305247
2022-07-14  1.300091  1.005717
2022-07-15  0.504101  2.949969
2022-07-16  1.162149 -0.256968
2022-07-17 -0.130535 -0.157154
2022-07-18 -1.746006  0.238145
2022-07-19  0.063689  1.026311
2022-07-20  1.680596  0.079919
2022-07-21 -1.539801 -0.282640
2022-07-22  0.285758  1.339146
2022-07-23 -2.348718 -0.596535
2022-07-24  0.335372 -1.011896
2022-07-25  0.346613  0.681991
2022-07-26 -0.357068  0.774686

In [84]:
df.iloc[:, 0:2]

                   A         B
2022-07-07 -1.704633 -0.158214
2022-07-08  0.386612  0.200570
2022-07-09  2.137770  0.397851
2022-07-10 -1.114591  1.395949
2022-07-11  0.457318  1.126077
2022-07-12  1.207212  1.457119
2022-07-13 -0.114695 -0.312303
2022-07-14  0.910667  1.300091
2022-07-15  0.675473  0.504101
2022-07-16 -0.310785  1.162149
2022-07-17  0.773905 -0.130535
2022-07-18 -0.825457 -1.746006
2022-07-19 -0.840293  0.063689
2022-07-20  0.261290  1.680596
2022-07-21  0.665780 -1.539801
2022-07-22  0.132906  0.285758
2022-07-23  0.353193 -2.348718
2022-07-24  0.328703  0.335372
2022-07-25 -1.933977  0.346613
2022-07-26 -0.045767 -0.357068

In [85]:
#Boolean indexing
#Using a single column’s values to select data:
df[df["A"] > 0]

                   A         B         C         D
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-11  0.457318  1.126077 -1.387801  0.619877
2022-07-12  1.207212  1.457119  0.354956 -1.562524
2022-07-14  0.910667  1.300091  1.005717 -1.566945
2022-07-15  0.675473  0.504101  2.949969 -0.589228
2022-07-17  0.773905 -0.130535 -0.157154 -0.811496
2022-07-20  0.261290  1.680596  0.079919 -2.530152
2022-07-21  0.665780 -1.539801 -0.282640  0.236821
2022-07-22  0.132906  0.285758  1.339146 -0.656824
2022-07-23  0.353193 -2.348718 -0.596535  0.792637
2022-07-24  0.328703  0.335372 -1.011896 -0.588518

In [86]:
df[df > 0]

                   A         B         C         D
2022-07-07       NaN       NaN       NaN       NaN
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-10       NaN  1.395949  1.014473       NaN
2022-07-11  0.457318  1.126077       NaN  0.619877
2022-07-12  1.207212  1.457119  0.354956       NaN
2022-07-13       NaN       NaN  1.305247       NaN
2022-07-14  0.910667  1.300091  1.005717       NaN
2022-07-15  0.675473  0.504101  2.949969       NaN
2022-07-16       NaN  1.162149       NaN       NaN
2022-07-17  0.773905       NaN       NaN       NaN
2022-07-18       NaN       NaN  0.238145  0.725764
2022-07-19       NaN  0.063689  1.026311       NaN
2022-07-20  0.261290  1.680596  0.079919       NaN
2022-07-21  0.665780       NaN       NaN  0.236821
2022-07-22  0.132906  0.285758  1.339146       NaN
2022-07-23  0.353193       NaN       NaN  0.792637
2022-07-24  0.328703  0.335372       NaN       NaN
2022-07-25       NaN  0.346613  0.681991       NaN
2022-07-26       NaN       NaN  0.774686  0.983070

In [88]:
df2 = df.copy()
df2

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-10 -1.114591  1.395949  1.014473 -0.206770
2022-07-11  0.457318  1.126077 -1.387801  0.619877
2022-07-12  1.207212  1.457119  0.354956 -1.562524
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790
2022-07-14  0.910667  1.300091  1.005717 -1.566945
2022-07-15  0.675473  0.504101  2.949969 -0.589228
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468
2022-07-17  0.773905 -0.130535 -0.157154 -0.811496
2022-07-18 -0.825457 -1.746006  0.238145  0.725764
2022-07-19 -0.840293  0.063689  1.026311 -1.327154
2022-07-20  0.261290  1.680596  0.079919 -2.530152
2022-07-21  0.665780 -1.539801 -0.282640  0.236821
2022-07-22  0.132906  0.285758  1.339146 -0.656824
2022-07-23  0.353193 -2.348718 -0.596535  0.792637
2022-07-24  0.328703  0.335372 -1.011896 -0.588518
2022-07-25 -1.933977  0.346613  0.681991 -1.197126
2022-07-26 -0.045767 -0.357068  0.774686  0.983070

In [90]:
df2["E"] = ["one", "one", "two", "three", "four", "three","one",
            "one", "two", "three", "four", "three","one", "one", "two",
            "three", "four", "three","four", "three"]
df2

                   A         B         C         D      E
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507    one
2022-07-08  0.386612  0.200570  1.449984  0.301750    one
2022-07-09  2.137770  0.397851  0.160753  1.304055    two
2022-07-10 -1.114591  1.395949  1.014473 -0.206770  three
2022-07-11  0.457318  1.126077 -1.387801  0.619877   four
2022-07-12  1.207212  1.457119  0.354956 -1.562524  three
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790    one
2022-07-14  0.910667  1.300091  1.005717 -1.566945    one
2022-07-15  0.675473  0.504101  2.949969 -0.589228    two
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468  three
2022-07-17  0.773905 -0.130535 -0.157154 -0.811496   four
2022-07-18 -0.825457 -1.746006  0.238145  0.725764  three
2022-07-19 -0.840293  0.063689  1.026311 -1.327154    one
2022-07-20  0.261290  1.680596  0.079919 -2.530152    one
2022-07-21  0.665780 -1.539801 -0.282640  0.236821    two
2022-07-22  0.132906  0.285758  1.339146 -0.656824  three
2022-07-23  0.353193 -2.348718 -0.596535  0.792637   four
2022-07-24  0.328703  0.335372 -1.011896 -0.588518  three
2022-07-25 -1.933977  0.346613  0.681991 -1.197126   four
2022-07-26 -0.045767 -0.357068  0.774686  0.983070  three

In [94]:
df2["new"]=[1.4,2.2,2.1,1.2,3.2,1.4,2.2,2.1,1.2,3.2,
               1.4,2.2,2.1,1.2,3.2,1.4,2.2,2.1,1.2,3.2]
df2

                   A         B         C         D      E  mean  new
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507    one   1.4  1.4
2022-07-08  0.386612  0.200570  1.449984  0.301750    one   2.2  2.2
2022-07-09  2.137770  0.397851  0.160753  1.304055    two   2.1  2.1
2022-07-10 -1.114591  1.395949  1.014473 -0.206770  three   1.2  1.2
2022-07-11  0.457318  1.126077 -1.387801  0.619877   four   3.2  3.2
2022-07-12  1.207212  1.457119  0.354956 -1.562524  three   1.4  1.4
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790    one   2.2  2.2
2022-07-14  0.910667  1.300091  1.005717 -1.566945    one   2.1  2.1
2022-07-15  0.675473  0.504101  2.949969 -0.589228    two   1.2  1.2
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468  three   3.2  3.2
2022-07-17  0.773905 -0.130535 -0.157154 -0.811496   four   1.4  1.4
2022-07-18 -0.825457 -1.746006  0.238145  0.725764  three   2.2  2.2
2022-07-19 -0.840293  0.063689  1.026311 -1.327154    one   2.1  2.1
2022-07-20  0.261290  1.680596  0.079919 -2.530152    one   1.2  1.2
2022-07-21  0.665780 -1.539801 -0.282640  0.236821    two   3.2  3.2
2022-07-22  0.132906  0.285758  1.339146 -0.656824  three   1.4  1.4
2022-07-23  0.353193 -2.348718 -0.596535  0.792637   four   2.2  2.2
2022-07-24  0.328703  0.335372 -1.011896 -0.588518  three   2.1  2.1
2022-07-25 -1.933977  0.346613  0.681991 -1.197126   four   1.2  1.2
2022-07-26 -0.045767 -0.357068  0.774686  0.983070  three   3.2  3.2

In [95]:
df2=df2.iloc[:,0:4]
df2

                   A         B         C         D
2022-07-07 -1.704633 -0.158214 -0.055683 -0.514507
2022-07-08  0.386612  0.200570  1.449984  0.301750
2022-07-09  2.137770  0.397851  0.160753  1.304055
2022-07-10 -1.114591  1.395949  1.014473 -0.206770
2022-07-11  0.457318  1.126077 -1.387801  0.619877
2022-07-12  1.207212  1.457119  0.354956 -1.562524
2022-07-13 -0.114695 -0.312303  1.305247 -0.190790
2022-07-14  0.910667  1.300091  1.005717 -1.566945
2022-07-15  0.675473  0.504101  2.949969 -0.589228
2022-07-16 -0.310785  1.162149 -0.256968 -1.538468
2022-07-17  0.773905 -0.130535 -0.157154 -0.811496
2022-07-18 -0.825457 -1.746006  0.238145  0.725764
2022-07-19 -0.840293  0.063689  1.026311 -1.327154
2022-07-20  0.261290  1.680596  0.079919 -2.530152
2022-07-21  0.665780 -1.539801 -0.282640  0.236821
2022-07-22  0.132906  0.285758  1.339146 -0.656824
2022-07-23  0.353193 -2.348718 -0.596535  0.792637
2022-07-24  0.328703  0.335372 -1.011896 -0.588518
2022-07-25 -1.933977  0.346613  0.681991 -1.197126
2022-07-26 -0.045767 -0.357068  0.774686  0.983070